<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Grocery Shopping Guide</title>
    
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">

</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="{{url_for('static',filename='logo.png')}}" alt="Logo">
            </div>
            <h1>Healthy Grocery Shopping Guide</h1>
        </div>
    </header>
    
    <main>
        <form onsubmit="get_food_info(); return false" id="food_item_entry_form">
            <div class="autocomplete" style="width:300px;">
                <input id="food_item" type="text" value="Rice">
            </div>
            <button type="submit" id="btn_get_food_info">Get food information</button>
        
        </form>
        <span id="output_area"></span>

        <form onsubmit="get_food_offers(); return false", id="food_offers_form">
        Check availability at a Sheng Shiong in ...
        <select id="SS_branch_region">
        </select>
        <button type="go" id="btn_get_offers_info">Go</button>
        <span id="offers_output_area"></span>
        </form>

    </div>
    <form onsubmit="window.history.back(); return false">
        <button type="submit">Back</button>
    </form>

    </main>

<script>
    const food_items = {{food_items | safe}}
    const init_food = {{init_food | safe}}
    const SS_branch_regions = {{SS_branch_regions | safe}}


    function autocomplete(input, arr) {
        let currentFocus;
        input.addEventListener("input", function() {
            let a, b, i, val = this.value;
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);
            for (i = 0; i < arr.length; i++) {
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    b = document.createElement("DIV");
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    b.addEventListener("click", function() {
                        input.value = this.getElementsByTagName("input")[0].value;
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });

        input.addEventListener("keydown", function(e) {
            let x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                currentFocus++;
                addActive(x);
            } else if (e.keyCode == 38) {
                currentFocus--;
                addActive(x);
            } else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                    if (x) x[currentFocus].click();
                }
            }
        });

        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
            for (let i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        function closeAllLists(elmnt) {
            let x = document.getElementsByClassName("autocomplete-items");
            for (let i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != input) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }

        document.addEventListener("click", function(e) {
            closeAllLists(e.target);
        });
    }


    document.addEventListener("DOMContentLoaded", function() {
        autocomplete(document.getElementById("food_item"), food_items);

        if (init_food!="")
        {
            document.getElementById("food_item").value = init_food;
            document.getElementById("btn_get_food_info").click();
        }
        const dropdown = document.getElementById('SS_branch_region');
        const options = SS_branch_regions;

        options.forEach(option => {
            const newOption = document.createElement('option');
            newOption.value = option;
            newOption.text = option;
            dropdown.add(newOption);
        });
        dropdown.selectedIndex = 0;
        document.getElementById("food_offers_form").hidden = true
        document.getElementById("food_item").addEventListener('input', function() {
                document.getElementById("food_offers_form").hidden = true
            });
        document.getElementById("SS_branch_region").addEventListener('change', function() {
            document.getElementById('btn_get_offers_info').click()
        }
    )
    
    
    
    });

    
    async function get_food_info(event) {
            const formData = new FormData();
            formData.append('food', document.getElementById("food_item").value)
            const response = await fetch('/get_food_info', {
                method: 'POST',
                body: formData
            });
            const result = await response.text();
            document.getElementById('output_area').innerHTML = result;
            if (result != 'Item not found'){
                document.getElementById("food_offers_form").hidden = false
            }


        }

        async function get_food_offers(event) {
            const formData = new FormData();
            formData.append('food', document.getElementById("food_item").value)
            formData.append('branch_region', document.getElementById("SS_branch_region").value)
            
            const response = await fetch('/get_food_offers', {
                method: 'POST',
                body: formData
            });
            const result = await response.text();
            document.getElementById('offers_output_area').innerHTML = result;
        }


</script>



</body>

