<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Grocery Shopping Guide</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <header>
        <div class="container">
            <img src="{{url_for('static',filename='logo.jpg')}}" alt="Logo">
            <h1>Healthy Grocery Shopping Guide</h1>
        </div>
    </header>
    
    <main>
        <form class="filter-form" action="/generate_shopping_list" method="POST" id="the_form">
            <label for="race">Select Race:</label>
            <select id="race" name="race">
                <option value="chinese" selected>Chinese</option>
                <option value="malay">Malay</option>
                <option value="indian">Indian</option>
            </select>

            <label for="diet">Select Diet:</label>
            <select id="diet" name="diet">
                <option value="normal" selected>Normal</option>
                <option value="vegetarian">Vegetarian</option>
                <option value="vegan">Vegan</option>
                <option value="keto">Keto</option>
                <option value="paleo">Paleo</option>
            </select>
            <label for="allergies" class="form-label">Select Checkbox(s) for Food Allergies</label>
                <label for="peanut">Peanut:</label>
                <input type="checkbox" id="peanut" name="allergies" value="Peanut" checked><br>
                <label for="milk">Milk:</label>
                <input type="checkbox" id="milk" name="allergies" value="Milk"><br>
                <label for="shellfish">Shellfish:</label>
                <input type="checkbox" id="shellfish" name="allergies" value="Shellfish"><br>
                <label for="egg">Egg:</label>
                <input type="checkbox" id="egg" name="allergies" value="Egg"><br>
                <label for="wheat">Wheat:</label>
                <input type="checkbox" id="wheat" name="allergies" value="Wheat"><br><br>

            <input type="hidden" id="json_str" name="json_str">  
            <!-- Super lame, but setting the header doesn't work and i dunno waste time fillding with it -->
            
            <button type="submit" onclick="submitForm()">Get Guide</button>
        </form>
    </main>
</body>


<script>
    
    function submitForm() {
        
        const checkboxes = document.querySelectorAll('input[name="allergies"]:checked');
        const values = Array.from(checkboxes).map(checkbox => checkbox.value);

        const formData = {
            allergies: values,
            race: document.getElementById("race").value,
            diet: document.getElementById("diet").value
        };
        
        
        document.getElementById("json_str").value = JSON.stringify(formData);
        document.getElementById("the_form").submit();
        /*
        fetch('/generate_shopping_list', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => 
           response.text()
        )
        .then((data) => {
            document.open();
            document.write(data);
            document.close();

        })
        .catch(error => {
            console.error('Error:', error);
        });
        */
    }
</script>


</html>
