<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Grocery Shopping Guide</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="{{url_for('static',filename='logo.png')}}" alt="Logo">
            </div>
            <h1>Healthy Grocery Shopping Guide</h1>
        </div>
    </header>
    
    <main>
        <p>
        <form action="/get_guide">
            <button type="submit">Get Guide</button>
        </form>
        </p>
        <p>
        <form action="/food_info">
            <button type="submit">Get food info</button>
        </form>
        </p>
        <p>
        <form action="/subscription">
            <button type="submit">Subscribe Newsletter</button>
        </form>
        </p>
        <p>
        <form action="/feedback">
            <button type="submit">Feedback</button>
        </form>
        </p>
    
    </main>
</body>


<script>
    
    function submitForm() {
        
        const checkboxes = document.querySelectorAll('input[name="allergies"]:checked');
        const values = Array.from(checkboxes).map(checkbox => checkbox.value);

        const formData = {
            allergies: values,
            race: document.getElementById("race").value,
            diet: document.getElementById("diet").value
        };
        
        
        document.getElementById("json_str").value = JSON.stringify(formData);
        document.getElementById("the_form").submit();
        /*
        fetch('/generate_shopping_list', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        })
        .then(response => 
           response.text()
        )
        .then((data) => {
            document.open();
            document.write(data);
            document.close();

        })
        .catch(error => {
            console.error('Error:', error);
        });
        */
    }
</script>


</html>
