<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Grocery Shopping Guide</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <header>
        <div class="container">
            <img src="{{url_for('static',filename='logo.png')}}" alt="Logo">
            <h1>Healthy Grocery Shopping Guide</h1>
        </div>
    </header>

    <main>
        <h2>Reply:  </h2>
        <p>
                {% block body %}
                {{r | safe }}
                {% endblock %}
        </p>
        <form action="/" method="POST">
            <button type="Home">Back</button>
        </form>
        </div>
    </main>



</body>
<script>
    function get_food_info(food)
    {
        food_str = encodeURIComponent(food);
        window.location.href="/food_info?food=" + food_str
    }
</script>
</html>
